<h1>Hello {{ username }}</h1>
<p>Your password Reset Token is here</p>
<p>Reset your password here<br><a href="localhost:3333/api/v1/password/reset_from_token/{{ email }}/{{reset_token}}">Reset</a></p>